.container-product_card{
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* width: 100vw; */
    flex-grow: 1;
    scroll-snap-type: initial;
}

.categories-title{
    margin-left: 10px;
}


@media screen and (max-width:800px)  {
    .container-product_card{
        justify-content: flex-start ;
    }
}