.cart_summary {
    /* Adjust styles as needed */
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.cart_summary .card {
    /* Styles for Card component */
}

.cart_summary .button {
    width: 100%;
}

.order_btn{
    color: white;
}
