main{
  min-height: 80vh;
}

nav{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
  color: white !important;
  text-decoration: none !important;
}

.navlink{
  padding: 20px 10px;
}

.navlink>a{
  padding: 0 20px;
}

nav>form>input{
  width: 30vw;
}

